<nav class="navbar navbar-expand-lg navbar-light bg-info">

    <a class="navbar-brand" href="#">Tech Elevate</a>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="/Home">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" routerLink="/parent">Aeroplanes <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/parent1">Helicaptors</a>
        <a class="nav-item nav-link" routerLink="/parent2">Laptops</a>
        <a class="nav-item nav-link" routerLink="/parent3">Cycles</a>
        <a class="nav-item nav-link" routerLink="/parent4">Movies</a>
      </div>
    </div>
  </nav>
